@import '../node_modules/foundation-sites/scss/foundation.scss';

$general-font-family: 'Helvetica';
$general-font-family-bold: 'Helvetica-Bold';

.main-class {
	border: 1px solid #CCCCCC;
	margin-bottom: 25px;
	margin-top: 25px;
	padding: 20px;

	.add-to-cart {
		color: #FFFFFF;
		font-size: 14px;
		font-family: $general-font-family;
		background-color: #338700;
		border-color: #338700;
		text-transform: uppercase;
		width: 100%;
	}
	.title {
		color: #333333;
		font-size: 16px;
		font-family: $general-font-family-bold;
		margin-bottom: 20px;
	}
	ul{
		li {
			color: #333333;
			opacity: 100%;
			font-size: 14px;
			font-family: $general-font-family;
		}
	}
	.price {
			color: #333333;
			font-size: 22px;
			font-family: $general-font-family-bold;
	}
	.image {
		margin-bottom: 20px;
		text-align: center;
	}
}

.product-info {
	border: 1px solid #CCCCCC;
	margin: 10px !important;
	padding: 20px;
	text-align: center;
	.view-more {
		text-transform: uppercase;
		background-color: white;
		color: #0471AF;
		border: 1px solid #CCCCCC;
		font-size: 14px;
		font-family: $general-font-family;
		width: 100%;
		padding: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.image {
		margin-bottom: 20px;
	}
	.description {
		margin-bottom: 10px;
		text-align: left;
		color: #333333 100%;
		opacity: 100%;
		font-size: 14px;
		font-family: $general-font-family-bold;
	}
	.price {
		margin-bottom: 15px;
		text-align: left;
		color: #333333 100%;
		opacity: 100%;
		font-size: 16px;
		font-family: $general-font-family-bold;
	}
}

.row {
	max-width: none;
}